@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1024px) {
  .popularJob {
    border-top-left-radius: 10%;
    background-image: url('./assets/bg2.png');
    border-bottom-left-radius: 20%;
  }
}
/* .custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* body {
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #7e22ce;
} */
