@tailwind base;
@tailwind components;
@tailwind utilities;

/* .custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* body {
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #7e22ce;
} */
