@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .popularJob {
    border-top-left-radius: 10%;
    background-image: url("./assets/bg2.png");
    border-bottom-left-radius: 20%;
  }
}

/* @keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #e0e0e0 20%,
    #f0f0f0 40%,
    #f0f0f0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
} */


/* .custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

 body {
  font-family: "Roboto", sans-serif;
}
/* ::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #7e22ce;
} */
